html {
    font-size: 16px;
    font-family: Helvetica, serif;
}

body {
    min-width: 1024px;
}

h1, h3 {
    color: #404040;
}


/*header*/

header {
    height: 4rem;
    background-color: white;
    width: 100%;
    align-items: center;
    position: fixed;
}

.content {
    font-size: 1.5rem;
    padding: 1rem 1.5rem;
    display: flex;

}

header img {
    height: 3.5rem;
}

header .logo {
    flex: 1;
    padding-left: 1.5rem;
    display: flex;
    margin-bottom: 1rem;
}

header .desktop {
    align-items: flex-end;
}

.logo h1 {
    color: #404040;
}

h1 span {
    color: gray;
}

.desktop ul li {
    display: inline;
}

li a {
    text-decoration: none;
    color: #404040;
}

nav li {
    padding-left: 1rem;
}

header .mobile {
    display: none;
}


/*header*/


/*main content*/


/*banner*/

.container-learn {
    background-color: lightgray;
    display: flex;
    align-items: center;
    width: 100%;
}

.banner {
    display: flex;
    height: 38rem;
}

.banner img {
    width: 60%;
    padding: 2rem 2.5rem 2rem 1.5rem;
    margin-top: 4rem;
}

.context {
    display: block;
    width: 29%;
    align-items: center;
    margin-top: 11rem;
}

.context h1 {
    font-size: 3rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.context h3 {
    font-size: 1.5rem;
    padding-bottom: 2rem;
    font-weight: bold;
}

.context .button {
    background-color: #404040;
    text-align: center;
    padding: 0.5rem 0rem;
    color: white;
    font-size: 2rem;
}


/*banner*/


/*practice*/

.container-practice {
    display: flex;
    width: 100%;
    height: 46rem;
    background-color: aliceblue;
}

.row1 {
    display: flex;
    flex-direction: column;
    width: 65%;
    border-right: 1px solid lightgray;
}

.photo img {
    width: 95%;
    padding: 2rem 1.5rem;
    height: 24rem;
}

.heading h1 {
    width: 100%;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    font-size: 3rem;
    font-family: Helvetica, serif;
    font-weight: bold;
}

.quote p {
    width: 90%;
    padding-left: 1.5rem;
    padding-bottom: 1.5rem;
    font-family: Helvetica, serif;
    font-size: 1.25rem;
    color: gray;
}

.author p {
    width: 60%;
    padding-left: 1.5rem;
    font-family: Helvetica, serif;
    color: gray;
}

.row2 {
    width: 35%;
}

.orientation, .campus, .lecture {
    border-bottom: 1px solid lightgray;
    height: 12rem;
    width: 100%;
    display: flex;
    align-items: center;
}

.orientation img, .campus img, .lecture img {
    width: 35%;
    height: 70%;
    margin: 0 5px;
}

.row2 img {
    padding: 1.5rem 1rem;
}

.orientation {
    padding-top: 2rem;
}

.text {
    display: block;
    padding: 1rem 0rem;
    font-family: cursive, serif;
}

.text h1 {
    padding-bottom: 1rem;
    font-size: 1.5rem;
    font-weight: bold;
}

.text p {
    margin-bottom: 3rem;
    font-weight: lighter;
}

.text a {
  text-decoration: none;
  font-size: 1.15rem;
  color: blue;
}

.lecture {
  background-color: lightgray;
}

/*practice*/

/*courses*/

.container-courses {
  background-color: lightgray;
  display: block;
  align-items: center;
  width: 100%;
}

.container-courses h1 {
  padding: 2rem 0rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.courses {
  display: flex;
  flex-wrap: wrap;
  padding-left: 3rem;

}

.course {
  width: 28%;
  overflow: hidden;
  padding-right: 1.5rem;
  margin-right: 1.5rem;
  margin-bottom: 1.5rem;
  background-color: white;
  text-align: left;
  font-family: arial, sans-serif;
  color: gray;
}

.course h1 {
  font-size: 2rem;
  text-align: left;
  padding-left: 1rem;
}

.course h2 {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1.5rem;
}

.course p {
  padding-bottom: 1.5rem;
  padding-left: 1rem;
  font-size: 1.10rem;
}
 /*courses*/

 /*thesis*/
.container-thesis {
  width: 100%;
  background-color: white;
}

.container-thesis h1 {
  padding: 2rem 0rem;
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}

.sections {
  display: flex;
}
.section1 {
  width: 65%;
}

.section2 {
  width: 35%;
}

 video {
   width: 90%;
   padding: 2rem 0rem 1.5rem 1.5rem;
 }

.section1 h1{
  text-align: left;
  padding-left: 1.5rem;
  font-size: 1.5rem;
  font-family: Helvetica, serif;
}

.section1 p {
  width: 84%;
  text-align: left;
  padding-left: 1.5rem;
  padding-bottom: 2rem;
  font-family: Helvetica, serif;
  color: gray;
  font-size: 1.25rem;
}

.fisma {
  background-color: lightgray;
  height: 10.5rem;
  margin-top: 2rem;
  display: flex;
}

.nowandthen {
  height: 10.5rem;
  display: flex;
}

.fisma img {
  width: 40%;
  height: 70%;
  margin: 0 5px;
  padding: 1.5rem 1rem;
}

.nowandthen img {
  width: 40%;
  height: 70%;
  margin: 0 5px;
  padding: 1.5rem 1rem;
}


.words h1 {
  font-size: 1.5rem;
  text-align: left;


}

.words p {
  font-family: Helvetica;
  color: gray;
}

.nowandthen h1 {
  margin-top: 2rem
}

/*thesis*/

/*footer*/

footer {
  width: 100%;
}

.footer {
  display: flex;
  color: gray;
  border-top: 1px solid gray;
  width: 100%;
  margin-bottom: 2rem;
  padding-top: 1.5rem;
  padding-left: 2rem;
}

footer ul {
  text-decoration: none;
  display: flex;
  margin-left: 50%;

}

footer ul li {
  padding-right: 2rem;
}
