html {
  font-size: 16px;
}

body {
  min-width: 1024px;
}

header {
  height: 4rem;
  background-color: white;
  width: 100%;
}

header .content {
  font-size: 1.5rem;
  display: flex;
  align-items: center;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
}

header .logo {
  flex: 1;
  display: flex;
  padding-left: 1.5rem;
}

header .desktop {
  align-items: flex-end;
}

header nav ul {
  display: flex;
}

.logo h1 {
  color: #5f5f5f;
}

h1 span {
  color: gray;
}

.desktop ul li{
  display: inline;
}

li a {
  text-decoration: none;
  color: #5f5f5f;
}

nav li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}
