html {
  font-size: 16px;
  font-family: Helvetica, serif;
}

body {
  min-width: 1024px;
}

h1, h3 {
  color: #404040;
}
/*header*/
header {
  height: 4rem;
  background-color: white;
  width: 100%;
}

header .content {
  font-size: 1.5rem;
  padding-left: 1.5rem;
  padding-top: 1rem;
  padding-right: 1.5rem;
  display: flex;

}

header img {
  height: 3.5rem;
  align-items: center;
}
header .logo {
  flex: 1;
  padding-left: 1.5rem;
  display: flex;
}


header .desktop {
  align-items: flex-end;
}

.logo h1 {
  color: #404040;
}

h1 span {
  color: gray;
}

.desktop ul li{
  display: inline;
}

li a {
  text-decoration: none;
  color: #404040;
}

nav li {
  padding-left: 1rem;
}

header .mobile {
  display: none;
}
/*header*/

/*main content*/

/*banner*/
.container-learn {
  background-color: lightgray;
  display: flex;
  align-items: center;
}

.banner {
  display: flex;
  height: 38rem;
}
.banner img {
  width: 60%;
  padding: 2rem 2.5rem 2rem 1.5rem;
}

.context {
  display: block;
  width: 29%;
  align-items: center;
  margin-top: 11rem;
}
.context h1 {
  font-size: 3rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.context h3 {
  font-size: 1.5rem;
  padding-bottom: 2rem;
  font-weight: bold;
}

.context .button {
  background-color: #404040;
  text-align: center;
  padding: 0.5rem 0rem;
  color: white;
  font-size: 2rem;
}
 /*banner*/

 /*practice*/
 .container-practice {
  display: flex;
 }

.practice {
  text-align: left;
}

.practice img, .quote {
  width: 60%;
  padding: 2rem 1.5rem;
  border-right: 1px solid lightgray;
}

.practice h1 {
  font-weight: bold;
  font-size: 3rem;
  padding-bottom: 1.5rem;
}

.practice #quote {
  padding-bottom: 2rem;
  color: gray;
  font-size: 1.25rem;
  font-family: cursive;
}

.practice p {
  padding-bottom: 2rem;
  color: gray;
  
}
